@import url(http://fonts.googleapis.com/css?family=Oswald);
/*div {
  text-align: center;
  font: bold 21px 'Oswald',sans-serif;
 1px 0 #fff, 2px 2px 0 #999;
  text-transform: uppercase;
}
*/

/*body {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,1), rgba(0,0,0,1) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 15px 15px;
}
*/

.nav-background{
  background: #F6F6F6;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 56px;
  margin-top: 4%;
} 
